* {
  padding: 0;
  margin: 0;
}
body {
}
.container {
}
header {
}
nav {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav_logos {
}
.nav_bar {
  margin-right: 10px;
}
.nav_bar ul {
  display: flex;
  gap: 20px;
}
.nav_bar ul li {
  list-style: none;
}
.nav_bar ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.hero_section {
  background-image: url(asset/image/image1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  height: 80vh;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
}
.hero_section h1 {
  margin-bottom: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hero_section p {
  margin-bottom: 40px;
  color: grey;
}
.hero_section button {
  background-color: rgb(247, 133, 52);
  padding: 20px;
  border-radius: 10px;
  font-weight: 900;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.hero_section button:hover {
  color: aliceblue;
  transform: translateY(-5px);
}
.Product_section h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}
.Card_section {
  display: flex;
  gap: 20px;
  margin-left: 30px;
  justify-content: center;
}
.Card_1 img,
.Card_2 img,
.Card_3 img {
  border-radius: 10px;
}
.Card_1 h6,
.Card_2 h6,
.Card_3 h6 {
  font-size: 20px;
}
.Card_1 p,
.Card_2 p,
.Card_3 p {
  color: orange;
}
.About_section {
  margin-top: 30px;
}
.About_section p {
  margin-right: 30px;
  margin-left: 30px;
}
.box {
  background-image: url(asset/image/image8.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
  width: 95%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 30px;
}
.box b {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
}
.Contact_section {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}
.Contact_section label {
  margin-bottom: 10px;
}
.Contact_section input {
  padding: 10px 100px 10px 10px;
  background-color: rgb(211, 209, 205);
  border-radius: 10px;
}
.Contact_section textarea {
  padding: 10px 100px 10px 10px;
  background-color: rgb(211, 209, 205);
  border-radius: 10px;
}
.Contact_section button {
  background-color: rgb(247, 133, 52);
  padding: 20px;
  border-radius: 10px;
  font-weight: 900;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.Contact_section button:hover {
  color: aliceblue;
  transform: translateY(-5px);
}
footer {
  padding: 20px;
  background-color: grey;
  text-align: center;
}
