* {
  padding: 0;
  margin: 0;
}
header {
  background-color: grey;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav_logos p {
  margin-left: 10px;
}
.nav_bar {
  margin-right: 20px;
}
.nav_bar ul {
  display: flex;
  gap: 20px;
}
.nav_bar ul li {
  list-style: none;
}
.nav_bar ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.nav_bar ul li a:hover {
  background-color: rgb(75, 75, 75);
  padding: 20px;
  border-radius: 10px;
}
.hero_section {
  background-image: url(asset/image/image1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  height: 80vh;
  margin-left: 100px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
  width: 85%;
}
.hero_section h1 {
  margin-bottom: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 35px;
}
.hero_section p {
  margin-bottom: 40px;
  color: grey;
}
.hero_section button {
  background-color: rgb(247, 133, 52);
  padding: 20px;
  border-radius: 10px;
  font-weight: 900;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.hero_section button:hover {
  color: aliceblue;
  transform: translateY(-5px);
}
.Product_section h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 115px;
}
.Card_section {
  display: flex;
  gap: 20px;
  margin-left: 30px;
  justify-content: center;
  width: 100%;
}
.Card_1 img,
.Card_2 img,
.Card_3 img {
  border-radius: 10px;
}
.Card_1 h6,
.Card_2 h6,
.Card_3 h6 {
  font-size: 20px;
}
.Card_1 p,
.Card_2 p,
.Card_3 p {
  color: orange;
}
.About_section {
  margin-top: 30px;
}
.About_section p {
  margin-right: 30px;
  margin-left: 100px;
  width: 85%;
}
.box {
  background-image: url(asset/image/image8.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
  width: 85%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 100px;
}
.box b {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
}
.Contact_section {
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
}
.Contact_section label {
  margin-bottom: 10px;
}
.Contact_section input {
  padding: 10px 100px 10px 10px;
  background-color: rgb(211, 209, 205);
  border-radius: 10px;
}
.Contact_section textarea {
  padding: 10px 100px 10px 10px;
  background-color: rgb(211, 209, 205);
  border-radius: 10px;
}
.Contact_section button {
  background-color: rgb(247, 133, 52);
  padding: 20px;
  border-radius: 10px;
  font-weight: 900;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.Contact_section button:hover {
  color: aliceblue;
  transform: translateY(-5px);
}
footer {
  padding: 20px;
  background-color: grey;
  text-align: center;
}
@media (max-width: 480px) {
  .nav_bar {
    display: none;
  }
  .hero_section {
    width: 94%;
    margin-left: 15px;
    height: 400px;
  }
  .Card_section {
    display: block;
  }
  .Card_1 img,
  .Card_2 img,
  .Card_3 img {
    width: 85%;
  }
  .Card_1 h6,
  .Card_2 h6,
  .Card_3 h6 {
    margin-left: 90px;
  }
  .Card_1 p,
  .Card_2 p,
  .Card_3 p {
    margin-left: 90px;
  }
  .box {
    width: 85%;
    margin-left: 40px;
  }
  .About_section p {
    margin-left: 44px;
    margin-top: 20px;
  }
  .Contact_section {
    margin-left: 45px;
  }
  .Contact_section h2 {
    margin-left: 120px;
  }
  .Contact_section input {
    width: 65%;
  }
  .Contact_section textarea {
    width: 65%;
  }
}
